*{
  box-sizing: border-box;
}
html{
  font-family: sans-serif;
}
a{
  text-decoration: none;
  color: #2196F3;
  transition: all .2s ease-in-out;
}
a:hover{
  color: red;
}
/*
///////////////////////////////////////////////////////////////////////////////
*/
header{
  background: #3B5998;
  padding: 15px;
}
header a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
header .fa{
  color: white;
  font-size: 16px;
}
header .logo-area{
  color: white;
  display: inline-block;
  width: 20%;
  margin-left: -4px;
}
header .logo-area a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
header .menu{
 display: inline-block;
 width: 20%;
 margin-left: -4px;
 border-right: 1px solid rgba(
   255, 255, 255, .4);
 text-align: right;
 padding-right: 20px;
}

header .menu ul li {
 display: inline-block;
 margin-right: 10px;
}
header .menu ul li a {
  margin-right: 20px;
}

header .icon-links ul li {
 display: inline-block;
 margin-right: 10px;
}

header .icon-links {
 display: inline-block;
 width: 20%;
 margin-left: -4px;
 padding-left: 20px;

}

header .icon-links .quick-options{
 display: inline-block;
 border-right: 1px solid rgba(
   255, 255, 255, .4);
 padding-right: 20px;
}

header .icon-links .privacy{
 display: inline-block;
 padding-left: 20px;
}
header .search-area {
  display: inline-block;
  width: 40%;
  margin-left: -4px;
}
header .search-area ul li {
  display: inline-block;
}
/*
///////////////////////////////////////////////////////////////////////////////
*/

#top-area {
  padding: 200px 15px 90px 15px;
  background: url(https://cdn.cnn.com/cnnnext/dam/assets/170407220916-04-iconic-mountains-matterhorn-restricted.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#top-area .profile-info .user-img{
  display: inline-block;
  padding: 10px;-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
#top-area .profile-info .user-img img{
  border-radius: 50%;
  padding: 10px;
  height: 100px;
}
#top-area .profile-info .user-details {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}
#top-area .profile-info .user-details h3{
  color: white;
  font-size: 24px;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 10px;
}
#top-area .profile-info .user-details a{
  text-align: center;
  margin-right: 5%;
  width: 45%;
  margin-left: -4px;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  padding: 10px;
  background: rgba(255, 255, 255, .3);
  -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
  transition: background .4s ease-in-out;
}
#top-area .profile-info .user-details a:hover{
  background: #2196F3;
}

/* images for friends and photos///////////////////////////////////////// */


#content-area .widget-box-side-column-icon{
  display: inline-block;
  float: left;
  height: 100px;
  width: 33.33%;
  background: url(https://images5.alphacoders.com/473/thumb-1920-473154.jpg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

/* Content Area /////////////////////////////////////////////////// */
#content-area{
background: #FAFAFA;
overflow: auto;
padding: 50px 0;
border-radius: 3px;

}
#content-area .widget-box{
  background: #FFF;
  padding: 15px;
  margin: 0 0 15px 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(158,158,158,1);
-moz-box-shadow: 0px 2px 5px 0px rgba(158,158,158,1);
box-shadow: 0px 2px 5px 0px rgba(158,158,158,1);
  overflow: auto;
}
#content-area .widget-box .head .widget-icon-container{
  display: inline-block;
}
#content-area .widget-box .head .widget-icon{
  background: #BFBFBF;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;display: block;
  margin: 15px 0 0 0;
  font-size: 14px;
  text-transform: uppercase;
}
#content-area .widget-box .head .widget-icon .fa{
  max-width: 50%;
  font-size: 26px;
}
#content-area .widget-box .head .widget-title{
  display: inline-block;
  padding: 0 0 0 10px;
}
#content-area .widget-box .body{
  padding: 20px 0;
}
#content-area .side-column{
  float: left;
  width: 35%;
  margin: 0 2.5%;
  max-width: 380px;
}

#content-area .main-area{
  float: right;
  width: 55%;
  margin: 0 2.5%;
}
#content-area .main-area .widget-box.submenu{
  padding: 0;
  margin: 0 0 20px 0;
}
#content-area .main-area .submenu ul{
  padding: 0;
}
#content-area .main-area .submenu ul li{
  display: inline-block;
  padding: 10px;
  width: 20%;
  float: left;
  text-align: center;
  border-bottom: 3px solid #FFF;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

#content-area .main-area .submencolor: #2196F3u ul li:hover{
  border-bottom: 3px solid #2196F3;
  color: #2196F3;
}
#content-area .main-area .submenu ul li:nth-child(5){
padding: 28px 0 21px;
}
#content-area .main-area .submenu ul li .fa{
  font-size: 20px;
}
#content-area .main-area .submenu ul li span{
  display: block;
  margin: 15px 0 0 0;
  font-size: 14px;
  text-transform: uppercase;
}
#content-area .main-area .widget-box.post .head .user-img-container{
  width: 8%;
  display: inline-block;
  overflow: auto;
  float: left;
}
#content-area .main-area .widget-box.post .head .user-img{
  display: inline-block;
  float: left;
  background: url(https://pbs.twimg.com/profile_images/718588760003383296/2AG8omMO_400x400.jpg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0;
}
#content-area .main-area .widget-box.post .head .post-info{
  display: inline-block;
  float: left;
  width: 92%;
}
  #content-area .main-area .widget-box.post .head::after {
  content: "";
  clear: both;
  display: table;
}
#content-area .main-area .widget-box.post .head .post-info .user-info{
  display: block;
  font-size: 14px;
  margin: 4px 0 6px 0;
}
#content-area .main-area .widget-box.post .head .post-info .post-date{
  display: block;
  font-size: 12px;
  color: #ABABAB;
}
